.no-print {
  display: none !important;
}

@page {
  size: A4 landscape;
  margin: 15mm 20mm;
}

.ui.accordion .active.content {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30mm;
  -moz-column-gap: 30mm;
  -ms-column-gap: 30mm;
  column-gap: 30mm;
  position: fixed;
  height: 210mm !important;
  width: 257mm !important;
  background: white;
  padding: 0;
}

.ui.styled.accordion {
  width: 297mm !important;
  box-shadow: none;
}

.ui.text.container {
  max-width: 297mm !important;
}

.ui.accordion .active.title .dropdown.icon {
  display: none;
}

.ui.accordion .active.title {
  font-size: 1.5em;
  display: block;
  text-align: center;
  border: 0;
}

.company-Theodo .ui.accordion .active.title::before {
  content: "Questionnaire Theodo - ";
}

.company-BAM .ui.accordion .active.title::before {
  content: "Questionnaire BAM - ";
}

.company-Theodo.UK .ui.accordion .active.title::before {
  content: "Theodo Project Form - ";
}

.company-FASTIT .ui.accordion .active.title::before {
  content: "Questionnaire Fast IT - ";
}

.ui.vertical.segment {
  position: static;
}

.title {
  display: none;
}

.ui.checkbox label,
.ui.segment {
  font-size: 0.8rem;
}

h3.ui.header {
  font-size: 1rem;
}

* {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
